#Настройки

SECRET_KEY=Секретный ключ
DATABASE_NAME=Название базы данных
DATABASE_USER=Имя пользователя
DATABASE_PASSWORD=Пароль баззы данных
DATABASE_HOST=Хост баззы данных
DATABASE_PORT=Порт баззы данных
